body {
    text-align: center;
    background-color: #3f5baa;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }

  .aof {
    margin: 10px;
    visibility: visible;
  }

 
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
    margin-top: 20px;
  }
  
  